**/*.vagrant
**/*.vagrant/**
**/csv
**/csv/**

#IntelliJ
**/.idea
**/.idea/**
**/*.iml
**/*.ipr
**/*.iws

# scala-app
scala-app/**/target
scala-app/**/*.class


# netbeans-apps
**/target/**

# kafka-sparkstreaming-test-application
kafka-sparkstreaming-test-application/project/
kafka-sparkstreaming-test-application/target/
