vagrant-hadoop-hive-spark/.vagrant
vagrant-hadoop-hive-spark/.vagrant/**
vagrant-hadoop-hive-spark/resources/csv
vagrant-hadoop-hive-spark/resources/csv/**
vagrant-ambari/.vagrant
vagrant-ambari/.vagrant/**
